<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mesdb" connectionString="Provider=sqloledb;&#xD;&#xA;                Data Source=THBPOCIMDB;&#xD;&#xA;                User Id=MESDB;Password=MES12345;" />
	</connectionStrings>
	<appSettings>
		<add key="factory" value="EVSBG" />
		<add key="line" value="M9"/>
		<add key="tdc_delay_limit" value="3" />
		<add key="save_textfile_location" value="\\10.150.208.54\TE_Personal_Data\MES_NU\MesLogRuntime\" />
		<add key="sender_interval" value="300000" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>